@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Outfit', sans-serif;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  font-weight: 450;
}

button:hover {
  background-color: #818181;
}

.nota-item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinha o índice e o texto no topo */
}

.nota-text-container {
  flex: 1; /* Permite que o texto ocupe o espaço disponível */
  display: flex; /* Mantém o texto e o índice na mesma linha */
  align-items: flex-start; /* Alinha o índice e o texto no topo */
}

.nota-indice {
  font-weight: 530; /* Espessura do índice */
  margin-right: 10px; /* Espaçamento entre o índice e o texto */
}

.nota-text {
  font-weight: 450; /* Espessura do texto das notas */
  overflow-wrap: break-word; /* Permite quebra de linha em palavras longas */
  word-wrap: break-word; /* Compatibilidade adicional para quebra de linha */
  white-space: pre-wrap; /* Mantém espaços em branco e permite quebra de linha */
  flex: 1; /* Faz com que o texto ocupe o espaço restante */
  margin-top: 0; /* Remove qualquer margem superior */
}

.class-Nota {
  display: flex;
  align-items: center; /* Alinha os ícones verticalmente */
}

.nota-item button {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.nota-item button:hover {
  color: #000000;
}

.editado {
  margin-top: 5px; /* Espaço entre os ícones e a mensagem */
  margin-right: 25px;
  position: relative;
  bottom: 3px;
}

@media (max-width: 600px) {
  .nota-item {
    flex-direction: column; /* Alinha itens em coluna em telas menores */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }

  .class-Nota {
    flex-direction: row; /* Mantém os ícones lado a lado */
    align-items: center; /* Alinha os ícones verticalmente */
    width: 100%; /* Garante que os ícones ocupem toda a largura disponível */
    justify-content: flex-start; /* Alinha ícones à esquerda */
  }

  .edit-btn, .delete-btn {
    margin-left: 10px; /* Espaçamento entre os botões */
    margin-top: 5px; /* Espaçamento vertical entre os botões */
  }

  .editado {
    width: auto; /* Permite que o texto editado ocupe toda a largura */
    margin-right: 0;
    margin-bottom: 5px;
    position: static;
  }
}
